<figure{% if figureClass is defined and figureClass %} class="{{ figureClass }}"{% endif %}>
    <picture>
        {% if isAvifEnabled() and webpAvif %}
            <source srcset="{{ getAvifUrl(fileUrl, imagineFilter) }}" media="(min-width: 1024px)" type="{{ webpAvif }}">
            <source srcset="{{ getAvifUrl(fileUrl, tabletFilter) }}" media="(min-width: 480px)" type="{{ webpAvif }}">
            <source srcset="{{ getAvifUrl(fileUrl, mobileFilter) }}" media="(max-width: 480px)" type="{{ webpAvif }}">
        {% elseif isWebpEnabled() and webpMime %}
            <source srcset="{{ getWebPUrl(fileUrl, imagineFilter) }}" media="(min-width: 1024px)" type="{{ webpMime }}">
            <source srcset="{{ getWebPUrl(fileUrl, tabletFilter) }}" media="(min-width: 480px)" type="{{ webpMime }}">
            <source srcset="{{ getWebPUrl(fileUrl, mobileFilter) }}" media="(max-width: 480px)" type="{{ webpMime }}">
        {% endif %}

        <source srcset="{{ normalFileUrl }}" media="(min-width: 1024px)" type="{{ mime }}">
        <source srcset="{{ fileUrl | imagine_filter(tabletFilter) }}" media="(min-width: 480px)" type="{{ mime }}">
        <source srcset="{{ fileUrl | imagine_filter(mobileFilter) }}" media="(max-width: 480px)" type="{{ mime }}">

        <img
                width="{{ imageResolution.width }}"
                height="{{ imageResolution.height }}"
                class="{{ fileClass ?? '' }}"
                src="{{ normalFileUrl }}"
                {% if imageTitle is defined and imageTitle %} title="{{ imageTitle }}" {% endif %}
                alt="{{ imageAlternative ?? '' }}"
                {% if lazy is defined and lazy %}loading="lazy"{% endif %}
        >
    </picture>

    {% if imageDescription is defined and imageDescription %}
        <figcaption{% if descriptionclass is defined and descriptionclass %} class="{{ descriptionclass }}"{% endif %}>{{ imageDescription | raw }}</figcaption>
    {% endif %}
</figure>