<a href="{{ fileUrl | imagine_filter('original_size') }}" target="_blank">
    {% if lazy is defined and lazy %}
        {% include '@Daddl3LiipImagineTemplate/image/partials/lazy-image.html.twig' %}
    {% else %}
        {% include '@Daddl3LiipImagineTemplate/image/partials/image.html.twig' %}
    {% endif %}
</a>
