{% set tabletFilter = imagineFilter ~ '_tablet' %}
{% set mobileFilter = imagineFilter ~ '_mobile' %}

{% set webpAvif = isAvifEnabled() ? 'type=' ~ getInfoAvif(app.request) : null %}
{% set webpMime = isWebpEnabled() ? 'type=' ~ getInfoWebp(app.request) : null %}

{% set mime = mime ? 'type=' ~ mime %}

{% set normalFileUrl = getImagineUrl(fileUrl, imagineFilter) %}
{% set imageResolution = getImageResolution(normalFileUrl) %}

{% include '@Daddl3LiipImagineTemplate/image/partials/figure_picture.html.twig' %}

<noscript>
    {% include '@Daddl3LiipImagineTemplate/image/partials/figure_picture.html.twig' %}
</noscript>
