{% include '@Daddl3LiipImagineTemplate/image/partials/image.html.twig' with { lazy: true } %}

<noscript>
    {% include '@Daddl3LiipImagineTemplate/image/partials/image.html.twig' with { lazy: true } %}
</noscript>
