{% set mime = getMime(fileUrl) %}

{% if mime is same as 'video/mp4' %}
    {% set fileUrl = checkVideo(fileUrl,imagineFilter) %}
    <video class="swiper-lazy" {{ controls ?? '' }} class="lazyload {{ fileClass ?? '' }}">
        <source src="{{ asset(fileUrl) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% else %}

    {% if imagineFilter is not defined %}
        {% set imagineFilter = 'meta' %}
    {% endif %}

    {% if imageLink is defined and imageLink %}
        {% include '@Daddl3LiipImagineTemplate/image/partials/image_with_link.html.twig' with { lazy: true } %}
    {% else %}
        {% include '@Daddl3LiipImagineTemplate/image/partials/lazy-image.html.twig' with { lazy: true } %}
    {% endif %}

{% endif %}
